<header class="navbar-container" *transloco="let t; read: 'components.navbar'">
  <div class="navbar">
    <nav class="menu" role="menubar">
      <div class="submenu menu-start">
        <a
          routerLink="/"
          class="link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          [title]="t('home')">
          <lucide-angular name="home" />
        </a>

        <app-input
          elId="search-bar"
          type="search"
          class="search-bar"
          [placeholder]="t('search_bar')"
          #searchElement
          (blur)="toggleSearch()"
          [ngClass]="{ active: isSearching }"
          [(ngModel)]="searchValue"
          (keydown.enter)="search()" />

        <ng-template [ngIf]="searchValue.length > 0">
          <p (click)="toggleSearch()" class="search-preview" [ngClass]="{ active: !isSearching }">
            {{ searchValue }}
          </p>
        </ng-template>
        <button type="button" class="link search-btn" (click)="toggleSearch()">
          <lucide-angular [name]="isSearching ? 'x' : 'search'" />
        </button>
      </div>

      <div class="submenu menu-end" [ngClass]="{ active: isMenuOpened }">
        <div class="header-buttons">
          <button type="button" class="link">
            <lucide-angular name="sun" />
          </button>
          <button type="button" class="link close-btn" (click)="toggleMenu()">
            <lucide-angular name="x"></lucide-angular>
          </button>
        </div>

        <div class="menu-content">
          <button
            type="button"
            class="link"
            *ngIf="isLoggedIn; else elseGuest"
            [title]="t('logout')"
            (click)="logout()">
            <lucide-angular name="power" class="icon" />
          </button>
          <ng-template #elseGuest>
            <a routerLink="/login" class="link" [title]="t('login')">
              <lucide-angular name="log-in" class="icon" />
              <span class="md:hidden">{{ t('login') }}</span>
            </a>
          </ng-template>
        </div>
      </div>
    </nav>
  </div>
</header>

<button class="mobile-nav-btn" [ngClass]="{ active: isMenuOpened }" (click)="toggleMenu()">
  <lucide-angular name="menu" />
</button>
