<header *transloco="let t; read: 'components.navbar'" class="navbar-container">
  <div class="navbar">
    <nav class="menu" role="menubar" aria-label="Navbar">
      <div class="submenu menu-start">
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          [title]="t('home')"
          ariaCurrentWhenActive="page"
          class="link"
          routerLink="/"
          routerLinkActive="active"
          role="menuitem">
          <lucide-angular name="home" />
        </a>

        <app-input
          #searchElement
          (blur)="toggleSearch()"
          (keydown.enter)="search()"
          [(ngModel)]="searchValue"
          [ngClass]="{ active: isSearching }"
          [placeholder]="t('search_bar')"
          class="search-bar"
          elId="search-bar"
          type="search"
          role="menuitem"
          [attr.aria-label]="t('search_bar')" />

        <ng-template [ngIf]="searchValue.length > 0">
          <p (click)="toggleSearch()" [ngClass]="{ active: !isSearching }" class="search-preview">
            {{ searchValue }}
          </p>
        </ng-template>
        <button (click)="toggleSearch()" class="link search-btn" type="button">
          <lucide-angular [name]="isSearching ? 'x' : 'search'" />
        </button>
      </div>

      <div [ngClass]="{ active: isMenuOpened }" class="submenu menu-end">
        <div class="header-buttons">
          <button class="link" type="button" role="menuitem" aria-label="toggle theme">
            <lucide-angular name="sun" />
          </button>
          <button (click)="toggleMenu()" class="link close-btn" type="button" role="menuitem">
            <lucide-angular name="x"></lucide-angular>
          </button>
        </div>

        <div class="menu-content">
          <app-dropdown />
        </div>
      </div>
    </nav>
  </div>
</header>

<button (click)="toggleMenu()" [ngClass]="{ active: isMenuOpened }" class="mobile-nav-btn">
  <lucide-angular name="menu" />
</button>
