@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/variants';

body {
    @apply bg-indigo-100 dark:bg-slate-800 dark:text-white;
}

#app {
    @apply min-h-screen m-0 overflow-auto flex flex-col;
}