<script src="input.component.ts"></script>
<div class="input-container">
  <label [for]="elId" *ngIf="label">{{ label }}</label>

  <input
    [id]="elId"
    [type]="type"
    [name]="name"
    class="input"
    [class.error]="error"
    [attr.disabled]="disabled"
    [required]="required"
    [(ngModel)]="value"
    (blur)="onTouch()"
    [autocomplete]="autocomplete"
    #input
    placeholder="{{ placeholder }}" />

  <div class="error-message" *ngIf="error">
    {{ error }}
  </div>
</div>
