<div class="login" *transloco="let t; read: 'pages.login'">
  <header>
    <a
      routerLink="/"
      class="link back"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page">
      <lucide-angular name="arrow-left"></lucide-angular>
      <span>{{ t('back_to_homepage') }}</span>
    </a>
  </header>
  <div class="card">
    <h1>{{ t('title') }}</h1>

    <div class="alert" *ngIf="error">
      <app-alert type="error" [closable]="true" (alertClose)="clearError()">
        {{ error }}
      </app-alert>
    </div>

    <form (ngSubmit)="login($event)" [formGroup]="loginForm">
      <app-input
        type="text"
        elId="username"
        [placeholder]="t('username')"
        formControlName="username"
        [ngClass]="{ invalid: formControls.username.errors }" />
      <app-input
        type="password"
        elId="password"
        [placeholder]="t('password')"
        formControlName="password"
        [ngClass]="{ invalid: formControls.password.errors }" />

      <app-button type="submit" icon="log-in" [disabled]="loginForm.invalid">
        {{ t('submit') }}
      </app-button>
    </form>

    <section class="third-parties-auth">
      <app-button type="button" class="discord-btn">
        <img src="/assets/images/discod_logo.svg" alt="Discord" class="icon" />
      </app-button>
      <app-button type="button" class="github-btn">
        <si icon="github" class="icon" />
        <img src="/assets/images/GitHub_Logo.svg" alt="Github" class="brand" />
      </app-button>
    </section>
  </div>
</div>
