<div class="login" *transloco="let t; read: 'pages.login'">
  <header>
    <a
      routerLink="/"
      class="link back"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page">
      <lucide-angular name="arrow-left"></lucide-angular>
      <span>{{ t('back_to_homepage') }}</span>
    </a>
  </header>
  <div class="card">
    <h1>{{ t('title') }}</h1>
    <form action="">
      <app-input type="email" elId="email" [placeholder]="t('email')"></app-input>
      <app-input type="password" elId="password" [placeholder]="t('password')"></app-input>

      <app-button type="submit" icon="log-in">{{ t('submit') }}</app-button>
    </form>
  </div>
</div>
