<script src="sign-in.component.ts"></script>
<div class="login" *transloco="let t; read: 'pages.login'">
  <header>
    <a
      routerLink="/"
      class="link back"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      ariaCurrentWhenActive="page">
      <lucide-angular name="arrow-left"></lucide-angular>
      <span>{{ t('back_to_homepage') }}</span>
    </a>
  </header>
  <div class="content">
    <div class="card" *ngIf="is_config_valid(); else elseNoConfig">
      <h1>{{ t('title') }}</h1>

      <div class="alert" *ngIf="error">
        <app-alert type="error" [closable]="true" (alertClose)="clearError()">
          {{ error }}
        </app-alert>
      </div>

      <form (ngSubmit)="login($event)" [formGroup]="signinForm" *ngIf="is_auth_enabled('password')">
        <app-input
          type="text"
          elId="username"
          [placeholder]="t('username')"
          formControlName="username"
          [ngClass]="{ invalid: formControls.username.errors }" />

        <app-input
          *ngIf="passUserExists; else dummyPass"
          type="password"
          elId="password"
          [placeholder]="t('password')"
          formControlName="password"
          [ngClass]="{ invalid: formControls.password?.errors }" />

        <ng-template #dummyPass>
          <input type="password" name="current-password" hidden aria-hidden="true" />
        </ng-template>

        <app-button
          type="submit"
          icon="log-in"
          [disabled]="signinForm.invalid || loading !== undefined">
          {{ t('submit') }}
        </app-button>
      </form>

      <div class="divider" *ngIf="has_third_parties() && is_auth_enabled('password')">
        {{ t('divider_or') }}
      </div>

      <p class="sub-title">{{ t('use_third_parties') }}</p>

      <section class="third-parties-auth" *ngIf="has_third_parties()">
        <app-button
          type="button"
          class="discord-btn"
          *ngIf="is_auth_enabled('discord')"
          (btnClick)="fetch_authorization_url($event, 'discord')"
          [disabled]="loading !== undefined">
          <lucide-angular
            name="loader-2"
            class="loading-icon"
            *ngIf="loading === 'discord'; else elseNoLoading" />
          <ng-template #elseNoLoading>
            <img src="/assets/images/discod_logo.svg" alt="Discord" class="icon" />
          </ng-template>
        </app-button>

        <app-button
          type="button"
          class="github-btn"
          *ngIf="is_auth_enabled('github')"
          (btnClick)="fetch_authorization_url($event, 'github')"
          [disabled]="loading !== undefined">
          <lucide-angular
            name="loader-2"
            class="loading-icon"
            *ngIf="loading === 'github'; else elseNoLoading" />
          <ng-template #elseNoLoading>
            <si icon="github" class="icon" />
            <img src="/assets/images/GitHub_Logo.svg" alt="Github" class="brand" />
          </ng-template>
        </app-button>
      </section>
    </div>
    <ng-template #elseNoConfig>
      <div class="card">
        <p class="error">{{ t('no_config') }}</p>
      </div>
    </ng-template>
  </div>
</div>
